# Logs 로그 파일을 제외합니다.
logs
# 확장자가 .log인 모든 파일을 제외합니다.
*.log
# 파일 이름이 npm-debug.log로 시작하고 어떤 확장자로 끝나는 파일을 제외합니다.
npm-debug.log*
# 파일 이름이 yarn-debug.log로 시작하고 어떤 확장자로 끝나는 파일을 제외합니다.
yarn-debug.log*
# 파일 이름이 yarn-error.log로 시작하고 어떤 확장자로 끝나는 파일을 제외합니다.
yarn-error.log*
# 파일 이름이 lerna-debug.log로 시작하고 어떤 확장자로 끝나는 파일을 제외합니다.
lerna-debug.log*
# 파일 이름이 .pnpm-debug.log로 시작하고 어떤 확장자로 끝나는 파일을 제외합니다.
.pnpm-debug.log*

# report. 다음에 0-9로 구성된 버전 번호를 가지고 .json으로 끝나는 파일을 제외합니다.
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# PID 파일을 제외합니다.
pids
*.pid
*.seed
*.pid.lock

# jscoverage/JSCover로 생성된 인스트루멘트 라이브러리를 포함한 디렉토리를 제외합니다.
lib-cov

# istanbul과 같은 도구에서 사용하는 커버리지 디렉토리를 제외합니다.
coverage
*.lcov

# nyc 테스트 커버리지 디렉토리를 제외합니다
.nyc_output

# Grunt 작업 파일을 제외합니다.
.grunt

# Bower 종속성 디렉토리를 제외합니다. (https://bower.io/)
bower_components

# node-waf 설정 파일을 제외합니다.
.lock-wscript

# 컴파일된 이진 애드온을 포함한 디렉토리를 제외합니다. (https://nodejs.org/api/addons.html)
build/Release

# npm 또는 Yarn으로 설치된 종속성 디렉토리를 제외합니다.
node_modules/
# jspm으로 설치된 종속성 디렉토리를 제외합니다.
jspm_packages/

# Snowpack 종속성 디렉토리를 제외합니다. (https://snowpack.dev/)
web_modules/

# 확장자가 .tsbuildinfo인 모든 파일을 제외합니다. 이는 TypeScript의 캐시 파일입니다.
*.tsbuildinfo

# 선택적인 npm 캐시 디렉토리를 제외합니다.
.npm

# 선택적인 eslint 캐시 디렉토리를 제외합니다.
.eslintcache

# 선택적인 stylelint 캐시 디렉토리를 제외합니다.
.stylelintcache

#M선택적인 Microbundle 캐시 디렉토리를 제외합니다.
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# 선택적인 REPL 히스토리 파일을 제외합니다.
.node_repl_history

# 확장자가 .tgz인 모든 파일을 제외합니다. npm pack으로 생성된 파일입니다.
*.tgz

# Yarn의 Integrity 파일을 제외합니다.
.yarn-integrity

# dotenv 환경 변수 파일을 제외합니다.
.env
# 개발 환경의 로컬 dotenv 파일을 제외합니다.
.env.development.local
# 테스트 환경의 로컬 dotenv 파일을 제외합니다.
.env.test.local
#  프로덕션 환경의 로컬 dotenv 파일을 제외합니다.
.env.production.local
#  로컬 dotenv 파일을 제외합니다.
.env.local

# Parcel 번들러 캐시 디렉토리를 제외합니다. (https://parceljs.org/)
.cache
.parcel-cache

#  Next.js 빌드 출력 디렉토리를 제외합니다.
.next
out

# Nuxt.js 빌드 또는 생성 출력 디렉토리를 제외합니다.
.nuxt
dist

# Gatsby 캐시 디렉토리를 제외합니다.
.cache/
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# VuePress 빌드 출력 디렉토리를 제외합니다.
.vuepress/dist

# VuePress v2.x 임시 및 캐시 디렉토리를 제외합니다.
.temp
# Docusaurus 캐시 및 생성된 파일을 제외합니다.
.cache

# Serverless 프레임워크를 사용하여 개발한 서버리스 애플리케이션의 관련 파일과 구성을 포함하는 디렉토리입니다.
.serverless/

# FuseBox 번들러를 사용하여 웹 애플리케이션을 번들링할 때 생성되는 캐시 파일을 포함하는 디렉토리입니다. 
.fusebox/

# DynamoDB Local을 사용하여 로컬 환경에서 개발 및 테스트하는 경우 생성되는 DynamoDB 데이터베이스 파일을 포함하는 디렉토리입니다. 
.dynamodb/

# TernJS JavaScript 분석 도구에서 사용하는 포트 파일입니다. 
.tern-port

# 확장 프로그램을 테스트하기 위해 사용되는 VSCode 버전을 저장하는 디렉토리입니다
.vscode-test

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*