.navbar {
  background-color: #f5f5f5;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// 네비게이션바 아이템 스타일
.navbar-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;

  ul.sub-menu {
    list-style-type: none;
    padding-left: 10px;
    background: #000;
  }
  .hoverd {
    background: #222;
  }
}
